*{
    margin: 0px;
    padding: 0px;
}
body{
    
}
header{
    text-align: left;
}
h1{
    text-align: right;
}
input {
    border-width: 2px;
    padding: 10px;
}
input [type="text"]{
    background-color: white;
}
input [type="submit"]{

}
